{% extends 'base.html' %}

{% block title %} About Hawkeye Recipes {% endblock %}


{% block body %}

<h1>
    About Hawkeye Recipes
</h1>
<p>For students who are looking for low cost and low prep time meals, this application is an interactive recipe database that provides users with quick access to cheap meal recipes for busy school nights.
    This application exposes users to affordable and diverse recipes so users can save money and save time searching for quick and affordable recipes. Unlike other recipe applications, ours is focused specifically on students who are limited to a budget and want to minimize time with meal prep. 

</p>
{% endblock %}